<!-- ex. Property binding. bind property to button. "click" is the event on button -->

<label>Server Name</label>
<!-- ex. Two-way binding. ngModel is a "directive" -->
<!-- <h2>Two way binding</h2> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <button class="btn btn-primary" (click)="log($event)">Log event</button> -->
<!-- using ngFor directive -->

<!-- ex. Event Binding. input is fired whenever user types.  -->
<!-- <h2>Event Binding</h2>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
{{ serverName }} -->

<!-- string interpolation -->
<!-- <p>{{ serverCreationStatus }}</p> -->

<!-- structural directive; changes DOM -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>

<!-- <p *ngIf="serverCreated; else noServer">
    Server was created, server name is {{ serverName }}
  </p> -->
<!-- <ng-template #noServer>
  <p>No server was created</p>
</ng-template> -->

<!-- <p>{{ allowNewServer }}</p>
<p>Using method {{ getServerStatus() }}</p> -->

<!-- Assignment #2 -->
<!-- <h2>Assignment #2</h2> -->
<!-- Implenting with directive and two-way data binding -->
<!-- <input type="text" class="form-control" [(ngModel)]="userName" />
{{ userName }}
<div>
  <button
    class="btn btn-primary"
    [disabled]="isUserNameNull()"
    (click)="resetUserName()"
  >
    BUTTON
  </button>
</div> -->

<!-- Assignment #3 -->
<button class="btn btn-primary" (click)="onDisplayDetails($event)">
  Display Details
</button>
<!-- Displays paragraph if detailsButtonClicked property is true, else removes from DOM -->
<p *ngIf="detailsButtonClicked">Secret Password = tuna</p>
